
.contact
  background-image url('../img/one-beer-pls-banner.jpg')
  background-size cover
  background-position center center

  &-profile
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 100%
    // background-image linear-gradient(45deg, $color-white-default, $color-gray-light, $color-white-default)
    background-color rgba(255, 255, 255, 0.7)

    &-photo
      border 8px solid $color-green-default
      flex-basis 280px
      width @flex-basis
      border-radius 100%
      background-image url('../img/one-beer-pls.jpg')
      background-size cover
      background-position center center

      @media (max-width $metric-medium-default)
        flex-basis 230px
        width @flex-basis

    &-title
      font-family $font-name-heebo
      color $color-black-default
      text-transform uppercase
      font-weight 700
      font-size 4rem
      text-align center

    &-desc
      max-width 600px
      font-family $font-name-heebo
      font-size 1.3rem
      text-align center
      color $color-black-default
      padding-bottom 10px
      border-bottom 1px solid $color-gray-default
