
.summary
  // background-color $color-white-default

  &-container
    width 100%
    height 100%
    display flex
    flex-direction column
    justify-content center
    align-items center

    &-title
      font-family $font-name-heebo
      color $color-black-default
      text-transform uppercase
      font-weight 700
      font-size 4rem
      text-align center
      // align-self flex-start

    &-divider
      width 10%
      background-color $color-green-default
      height 8px
      margin-bottom 50px

    &-group
      width 100%
      display flex
      justify-content space-around
      flex-wrap wrap

      &-item
        position relative
        flex-basis 300px
        background-color $color-gray-light
        padding 25px 10px 10px 10px
        transition all .1s ease-in-out
        // border 1px solid $color-gray-default
        // box-shadow 0px 1px 10px $color-gray-default

        @media (max-width $metric-xlarge-default)
          margin-bottom 20px

        // &:hover
        //   box-shadow 0px 0px 30px 1px $color-gray-default
        //   transform scale(1.1, 1.1)

        &-title
          font-family $font-name-heebo
          font-size 1.8rem
          color $color-black-default
          padding-bottom 10px
          border-bottom 1px solid $color-gray-default

        &-desc
          padding-top 10px
          list-style none
          font-size 1.3rem

          > li
            padding 5px 0px
