
$color-white-default = rgba(255, 255, 255, 0.8)
$color-gray-light = rgba(238, 238, 238, 0.8)
$color-gray-default = #ccc
$color-black-default = #444
//$color-green-default = rgb(51, 102, 0)
// $color-green-default = rgba(51, 102, 0, 0.7)
$color-green-default = #219150

$font-name-bangers = 'Bangers', cursive
$font-name-heebo = 'Heebo', sans-serif

$metric-width-default = 1140px
$metric-small-default = 576px
$metric-medium-default = 768px
$metric-large-default = 992px
$metric-xlarge-default = 1200px
